#footer
	width 100%
	padding 30px 0
	text-align: center
	background-color: #122138
	h5
		font-size: 20px;
		color: rgb(255, 252, 252);
		line-height: 1.042;
		margin 0
		font-family: 'AvenirNextCyrBold', sans-serif
	p
	#conditions
		font-size: 14px;
		color: rgba(254, 254, 254, .6);
		line-height: 1.786;
	#conditions
		margin 15px 0 0
		text-decoration: underline
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 7px
		position relative
		z-index: 1
		&:before
			content: ''
			display block
			position: absolute
			top: 0
			left 0
			right 0
			margin 0 auto
			width: 32px;
			height 32px
			border-radius: 50px
			background-color: #fff
			z-index 4
		.fa
			width: 32px;
			height: 32px;
			color #122138
			font-size 18px
			line-height 32px
			position relative
			z-index 9
.modal-backdrop.in
	opacity .9
.modal-content
	background-color: #000
	color #fff
	border-radius: 0
	border 2px solid #fff
button.close
	position absolute
	width: 35px
	height 35px
	border-radius: 50px
	line-height: 30px
	text-align: center
	font-size: 24px
	color: #000
	background-color: #F0F0F0
	top 10px
	right 10px
	left auto
	z-index 99
	opacity 1
	transition: all .1s ease-in-out
	border: 1px solid #F0F0F0
	&:hover
		color: #F0F0F0
		background-color: #000
		border-color: #F0F0F0
.modal_title 
	font-family: "AvenirNextCyrBold", sans-serif;
	font-size: 22px
	margin-bottom: 20px
	width 100%
	max-width 90%
.modal_list
	margin-left: 20px
	li
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0