#for
	width 100%
	padding 70px 0
	background-color: #000000
	background-image url(../img/for_bg.png)
	background-repeat no-repeat
	background-position: center
.general_title_for
	color #fff
.for_list
	width 100%
	max-width 530px
	margin 0 auto
	li
		list-style none
		color #ffffff
		margin-bottom: 20px
		line-height: 28px
		&:last-child
			margin-bottom: 0
		span
			font-size: 22px
			font-family: "AvenirNextCyrBold", sans-serif;
			display block
			margin-bottom: 5px
.for_list_title_red
	color red
.for_list_title_green
	color #1AF91A
.button_for
	margin: 45px auto 0