#get
	width 100%
	padding 70px 0
	background-color: rgb(237,238,234)
	background-image url(../img/plan_bg.jpg)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
.get_list
	width 100%
	max-width 480px
	margin 0 auto
	li
		margin-bottom: 20px
		font-size: 20px
		&:last-child
			margin-bottom: 0