@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.soc_buttons a .fa
		width 45px
		height 45px
		line-height 33px
		font-size: 24px
	.main_subtitle
	.a_n_d
	.main_subtitle_2
		font-size: 20px
	.button
		font-size: 22px
	#footer p
		max-width 100%
		font-size: 16px
	.get_list
		max-width 525px
@media screen and (max-width 1199px)
	#header
		padding 15px 0
		margin-bottom: 20px
	#logo
		display block
		margin: 0 auto
		float: none
	.contacts
		text-align: center
		float: none
	.contact
		margin: 10px 5px 0
	#victor_about
		left -60px
	.packet_head
		height 106px
@media screen and (max-width 991px)
	#main
		padding-bottom: 40px
	#plan_img
		display: none !important
	.days_container
		margin 0 auto
		width 100%
		max-width 530px
	#victor_about
		position: static
		width 100%
		max-width 280px
		height auto
		margin-right: 10px
	.about_container
		width 55%
		padding-bottom: 0
	#get
	#for
	#plan
	#prices
	#author
	#revs
	#videos
		padding 40px 0
	.general_title_author
		margin 0 0 40px
	#footer
		padding 20px 0
	.packet_body
		min-height 240px
@media screen and (max-width 767px)
	#victor_about
		float: none
		margin: 0 auto 20px
		display block !important
	.about_container
		width 100%
		float: none
	.about_list
		width 100%
		max-width 500px
		margin 0 auto
	.about_bg
		margin 30px 0
	#author
		background-position: left center
	.about_bg
		text-align: center
	.author_cite
		text-align: right
		display block
	#revs
	#for
		background-image: none
	.for_list li:last-child
		margin-bottom: 20px
	.packet_body
		min-height 1px
	#vk
		margin-bottom: 25px
	.get_list li	
		margin-left: 20px;
@media screen and (max-width 485px)
	#logo
		width 160px
	.contact
		font-size: 14px
		line-height: 20px
		background-size: 20px
		padding-left: 25px
	#header
		margin-bottom: 5px
	.main_title
		font-size: 26px
		line-height: 1.4
		margin-bottom: 10px
	.remind_main_subtitle
		font-size: 20px
	.general_title
		font-size: 24px
	#footer #conditions, #footer p
		font-size: 12px
	.main_subtitle
		font-size: 20px
	.button_for
		margin-top: 20px
	.day
		margin-bottom: 30px
	#footer h5
		font-size: 18px
	.soc_buttons a
		margin 15px 5px 10px
	.video_tabs_buttons
		margin-bottom: 0
		li
			font-size: 16px
			max-width 70px
			margin-bottom: 10px
	.flip-clock-wrapper
		width 100%
		max-width 260px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
@media screen and (max-width 380px)
	#header
		margin-bottom: 10px
	.main_title
		font-size: 24px
		margin 10px 0
	.main_subtitle
		margin-bottom: 10px
	.button_main
		margin-top: 30px
	#main
		padding-bottom: 30px
	#get
	#for
	#plan
	#prices
	#author
	#revs
	#videos
		padding 30px 0
	.general_title
		font-size: 22px
	.video_wrapper_revs
		margin-bottom: 15px
	.revs_aftertitle
		font-size: 22px
		line-height: 1.3
		margin-bottom: 20px
	.get_list li
	.for_list li
		margin-bottom: 10px
		font-size: 18px
	.for_list li span
		font-size: 18px
		margin-bottom: 0
	.button_for
		margin-top: 10px
	.day_title
		line-height: 1.3
	.packet_head_title
	.modal_title
		font-size: 20px
	.packet
	.video_tabs_day
		padding 15px
	.packet_head
		padding-bottom: 15px
	.packet_body
		padding 15px 0
	.packet_body_text
		font-size: 18px
	.cost
		margin-bottom: 15px
		span
			font-size: 24px
	.packet_footer
		padding-top: 15px
	.prepaymant_title
	.timer_title
		font-size: 24px
	.alert-danger
		font-size: 20px
		margin-top: 20px
	.video_tabs_buttons
		li
			max-width 45%
	.button
		height 50px
		line-height 50px