#plan
		width 100%
		padding 70px 0
		background-color: rgb(237,238,234)
		background-image url(../img/plan_bg.jpg)
		background-repeat no-repeat
		background-position: center
		background-size: cover
		overflow hidden
	.container
		position relative
#plan_img
	position: absolute
	right -40px
	top 50%
	transform: translateY(-50%)
.days_container
	width 100%
	max-width 720px
.day
	margin-bottom: 50px
	&:last-child
		margin-bottom: 0
.day_title
	font-family: "AvenirNextCyrBold", sans-serif;
	line-height: 1.556;
	margin-bottom: 10px
.day_list
	margin-left: 20px
	li
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
.button_plan
	margin-top: 40px