#footer
	width 100%
	padding 30px 0
	text-align: center
	background-color: #122138
	h5
		font-size: 20px;
		color: rgb(255, 252, 252);
		line-height: 1.042;
		margin 0
		font-family: 'AvenirNextCyrBold', sans-serif
	p
	#conditions
		font-size: 14px;
		color: rgba(254, 254, 254, .6);
		line-height: 1.786;
	#conditions
		margin 15px 0 0
		text-decoration: underline
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 7px
		position relative
		z-index: 1
		&:before
			content: ''
			display block
			position: absolute
			top: 0
			left 0
			right 0
			margin 0 auto
			width: 32px;
			height 32px
			border-radius: 50px
			background-color: #fff
			z-index 4
		.fa
			width: 32px;
			height: 32px;
			color #122138
			font-size 18px
			line-height 32px
			position relative
			z-index 9