#main
	width 100%
	padding 0 0 60px
	background-color: rgb(139,152,193)
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	text-align: center
#header
	padding 20px 0
	margin-bottom: 25px
	overflow hidden
#logo
	float left
	width 296px
	height auto
.contacts
	float right
.contact
	display: inline-block
	margin-left 15px
	padding-left: 35px
	background-repeat no-repeat
	background-position: left center
	line-height: 26px
	&:focus
		text-decoration: none
	&:hover
		text-decoration: underline
.contact_email
	margin-left: 0
	color #001381
	background-image url(../img/mail_img.png)
	padding-left: 39px
.contact_skype
	background-image url(../img/skype_img.png)
.contact_tel
	background-image url(../img/phone_img_white.png)
.contact_tel:last-of-type
	background-image url(../img/phone_img_blue.png)
	color #001381
.main_title
	font-size: 40px;
	font-family: "AvenirNextCyrBold", sans-serif;
	line-height: 1.333;
	margin 10px 0 15px
.video_wrapper_main
	max-width 560px
.remind_main_title
	font-size: 30px
	a
		color #001381
		display: inline-block
		text-decoration: underline
#main.remind
	min-height calc(100vh - 207px)