@media screen and (min-width 2295px)
	.container
		width 1400px
	body
		font-size: 20px
	.soc_buttons a .fa
		width 45px
		height 45px
		line-height 30px
		font-size: 24px
	#footer #conditions, #footer p
		font-size: 16px
@media screen and (max-width 1199px)
	#logo
		display block
		margin: 0 auto
		float: none
	.contacts
		text-align: center
		float: none
	.contact
		margin: 10px 5px 0
@media screen and (max-width 767px)
	#main
		padding-bottom: 40px
	#feedback
		padding 40px 0
	#vk
		margin-bottom: 25px
	#footer
		padding 20px 0
@media screen and (max-width 485px)
	#logo
		width 160px
	.contact
		font-size: 14px
		line-height: 20px
		background-size: 20px
		padding-left: 25px
	#header
		margin-bottom: 5px
	.main_title
		font-size: 26px
		line-height: 1.4
	.remind_main_subtitle
		font-size: 20px
	.general_title
		font-size: 24px
	#feedback
		background-image: none
	.soc_buttons a
		margin 15px 5px 10px
	#footer #conditions, #footer p
		font-size: 12px
@media screen and (max-width 380px)
	.main_title
		font-size: 24px
	#main
		padding-bottom: 30px
	#feedback
		padding 30px 0
	.general_title
		font-size: 22px