footer#footer
	.container
		.soc_buttons
			h5 Хотите узнать больше? Вступайте в наши группы!
			a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
				i(class="fa fa-facebook" aria-hidden="true")
			a(href="http://vk.com/mv_ezoterika" target="_blank")
				i(class="fa fa-vk" aria-hidden="true")
			a(href="https://twitter.com/MastervisionEzo" target="_blank")
				i(class="fa fa-twitter" aria-hidden="true")
			a(href="https://www.instagram.com/mastervision1/" target="_blank")
				i(class="fa fa-instagram" aria-hidden="true")
			a(href="https://www.ok.ru/group/54472921710656" target="_blank")
				i(class="fa fa-odnoklassniki" aria-hidden="true")
			a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
				i(class="fa fa-youtube" aria-hidden="true")
		p ИП Грудин Андрей Аркадьевич, г. Москва, поселение Рязанковское, пос. Знамя Октября, мкр. Родники, д. 6, кв. 34, ИНН/КПП 772427896499, ОГРН/ОГРНИП 318774600310986
link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")