<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device=width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(property="og:title" content="«Кто может стать шаманом?»")
		meta(property="og:description" content="1 домашнее задание от Виктора Толстикова")
		meta(property="fb:app_id" content="2030481470529055")
		title «Кто может стать шаманом?». 1 домашнее задание от Виктора Толстикова
		link(rel="icon" type="image/x-icon" href="../favicon.ico")
		link(rel="shortcut icon" type="image/x-icon" href="../favicon.png")
		link(rel="stylesheet" href="../css/bonus.css")
		script(src="//vk.com/js/api/openapi.js?153")
		script
			| VK.init({apiId: 6314801,onlyWidgets: true});
		script 
			| !function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?158",t.onload=function(){VK.Retargeting.Init("VK-RTRG-11201-hHU9b"),VK.Retargeting.Hit()},document.head.appendChild(t)}();
		noscript
			img(src="https://vk.com/rtrg?p=VK-RTRG-11201-hHU9b" style="position:fixed; left:-999px;" alt="")
		<!-- Global site tag (gtag.js) - Google Analytics -->
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-130434463-1")
		script
			| window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-130434463-1');
		<!-- Facebook Pixel Code -->
		script
			| !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '2406475009380573'); fbq('track', 'PageView');
		noscript
			img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2406475009380573&ev=PageView&noscript=1")
		<!-- End Facebook Pixel Code -->
		<!-- Facebook Pixel Code -->
		script
			| !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js') ; fbq('init', '183143279045048'); fbq('track', 'PageView');
		noscript
			img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=183143279045048&ev=PageView&noscript=1")
		<!-- End Facebook Pixel Code -->
	body
		<!-- Yandex.Metrika counter -->
		script(type="text/javascript")
			| (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter35450015 = new Ya.Metrika({ id:35450015, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src="https://mc.yandex.ru/watch/35450015" style="position:absolute; left:-9999px;" alt="")
		<!-- /Yandex.Metrika counter -->
		div#fb-root
		script
			| (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s);js.id = id;js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.12&appId=2030481470529055&autoLogAppEvents=1';fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
		section#main
			.container
				include pug/bonus/header
				p.pre 1 домашнее задание от Виктора Толстикова
				h1.main_title.bonus_main_title «Кто может стать шаманом?»
				.video_wrapper.video_wrapper_main
					iframe(src="https://youtube.com/embed/R_GrNnczsnY?rel=0&autoplay=1" allowfullscreen)
		section#feedback
			.container
				h3.general_title.general_title_feedback Ваши вопросы к Виктору пишите в формах ниже:
				.row
					.col-md-6.col-sm-6
						#vk
							#vk_comments
								script(type="text/javascript")
									| VK.Widgets.Comments("vk_comments", { limit: 15,  attach: 0, autoPublish: 1 });
					.col-md-6.col-sm-6
						#fb
							.fb-comments(data-href="https://tolstikov.mastervision.su/shamanism/home-task-1/" data-width="100%" data-numposts="15" data-order-by="reverse_time")
		include pug/bonus/footer
		<!-- AutoWebOffice: UTM or OpenStat Counter -->
		script(type="text/javascript")
			| var url = "https://shop.mastervision.su/?r=api/utmopenstat";
		script(type="text/javascript" src="https://shop.mastervision.su/js/utm_openstat.js" defer="defer")
		<!-- /AutoWebOffice: UTM or OpenStat Counter -->