<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device=width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(property="og:title" content="Вы зарегистрированы на интенсив по Шаманизму")
		meta(property="og:description" content="Скорее проверьте почту, вас ждут домашние задания!")
		title Вы зарегистрированы на интенсив по Шаманизму
		link(rel="icon" type="image/x-icon" href="../favicon.ico")
		link(rel="shortcut icon" type="image/x-icon" href="../favicon.png")
		link(rel="stylesheet" href="../css/bonus.css")
		script 
			| !function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?158",t.onload=function(){VK.Retargeting.Init("VK-RTRG-11201-hHU9b"),VK.Retargeting.Hit()},document.head.appendChild(t)}();
		noscript
			img(src="https://vk.com/rtrg?p=VK-RTRG-11201-hHU9b" style="position:fixed; left:-999px;" alt="")
		<!-- Global site tag (gtag.js) - Google Analytics -->
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-130434463-1")
		script
			| window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-130434463-1');
		<!-- Facebook Pixel Code -->
		script
			| !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '2406475009380573'); fbq('track', 'PageView');
		noscript
			img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2406475009380573&ev=PageView&noscript=1")
		<!-- End Facebook Pixel Code -->
	body
		<!-- Yandex.Metrika counter -->
		script(type="text/javascript")
			| (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter35450015 = new Ya.Metrika({ id:35450015, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src="https://mc.yandex.ru/watch/35450015" style="position:absolute; left:-9999px;" alt="")
		<!-- /Yandex.Metrika counter -->
		section#main.remind
			.container
				include pug/bonus/header
				h1.main_title.remind_main_title Вы зарегистрированы на интенсив 
					a(href="/" target="_blank")  «Шаманизм - путь к первоистокам»
						i.fa.fa-external-link(aria-hidden="true")
				h2.main_subtitle.remind_main_subtitle Скорее проверьте почту, вас ждут домашние задания!
		include pug/bonus/footer
		<!-- AutoWebOffice: UTM or OpenStat Counter -->
		script(type="text/javascript")
			| var url = "https://aleksandrkudryashov1.autoweboffice.ru/?r=api/utmopenstat";
		script(type="text/javascript" src="https://aleksandrkudryashov1.autoweboffice.ru/js/utm_openstat.js" defer="defer")
		<!-- /AutoWebOffice: UTM or OpenStat Counter -->