section#for
	.container
		h3.general_title.general_title_for Этот онлайн интенсив для Вас, если:
		.row
			.col-md-6.col-sm-6
				ul.for_list
					li 1. 
						span Теряете годы на поиски сакральных знаний по улучшению материального благосостояния, но денег так и не прибавляется
					li 2. 
						span Хотите настоящую магическую силу для исполнения любых своих, даже самых сокровенных желаний
					li 3. 
						span Обращаетесь к "целителям" и "экстрасенсам" за исцелением, а здоровье только ухудшается
					li 4. 
						span Желаете узнать, как с помощью знаний предков исцелиться и стать целителем
					li 5. 
						span Тратите кучу средств на семинары и курсы, чтобы улучшить свою жизнь, но будто что-то всё время мешает Вашему счастью
			.col-md-6.col-sm-6
				ul.for_list
					li 6. 
						span Мечтаете раскрыть сверхспособности, покровительство высших сил и получать ответы на свои вопросы
					li 7. 
						span Ищите действенные магические приёмы для того, чтобы наладить личную жизнь, но по прежнему несчастны
					li 8. 
						span Хотите освоить действенные практики, чтобы очиститься от родовых программ на бедность и невезение
					li 9. 
						span Ждёте встречи с мастером, который раскроет их способности и предназначение, но его так и нет
					li 10. 
						span Жаждите познакомиться с наставником, который на собственном примере демонстрирует реальность того, чему учит
		button.button.button_for(data-toggle="modal" data-target="#myModal") Участвовать в интенсиве