header#header
	a(href="https://mastervision.su", target="_blank")
		img#logo(src="img/logo.png", alt="Логотип")
	.contacts
		a.contact.contact_email(href="mailto:info@mastervision.su")
			span info@mastervision.su
		a.contact.contact_skype(href="skype:add?admin-mastervision")
			span admin-mastervision
		a.contact.contact_tel(href="callto:8-499-346-79-46")
			span 8-499-346-79-46
		a.contact.contact_tel(href="callto:8-929-568-87-50")
			span 8-929-568-87-50