section#main
	.container
		include header
		img(src="img/main_img.png", alt="Ловец снов")#main_img
		.row
			.col-lg-6.right_col
				h1.main_title Бесплатный онлайн-интенсив Шаманизм - путь к первоистокам
				h2.main_subtitle Если Вы не хотите всю жизнь по крупицам собирать всякие "лжезнания" и топтаться на месте - прикоснитесь к знаниям предков, давшим начало всем религиям и учениям, и Вы найдёте ответы на все Ваши вопросы!
				p.a_n_d Даты проведения: 
					span с 25 октября по 28 марта 19:00 мск
				p.a_n_d Автор курса: 
					span Виктор Толстиков
			.col-lg-6
				.video_wrapper.video_wrapper_main
					iframe(src="https://youtube.com/embed/tAKUffQErXM?rel=0&autoplay=1" allowfullscreen)
		.row
			.col-md-6
				h3.main_subtitle_2 После регистрации Вы сможете принять участие в 4-х уникальных вебинарах 
					span совершенно бесплатно:
				ul.main_list
					li 
						span Вебинар 1: 
						| "Посвящение в шаманизм"
					li 
						span Вебинар 2: 
						| "Обретение шаманской Силы"
					li 
						span Вебинар 3: 
						| "Шаманское целительство и долголетие"
					li 
						span Вебинар 4: 
						| "Зов предков и обретение силы Рода"
			.col-md-6
				h4.main_subtitle_3 + Бонус после регистрации
				button.button.button_main(data-toggle="modal" data-target="#myModal") Записаться