section#plan
	.container
		img(src="img/plan_img.png", alt="Картинка")#plan_img
		h3.general_title.general_title_plan Программа интенсива:
		.days_container
			.day.day_1
				h4.day_title Вебинар №1: Посвящение в шаманизм
				ol.day_list
					li Что такое волхвование и кудесничество или 4 способа стать шаманом
					li Как путешествовать по шаманским мирам и общаться с их обитателями
					li Какие знания наших предков могут в разы улучшить качество Вашей жизни
					li 
						span Практика: 
						| Шаманская медитация "Глубокое расслабление под звуки бубна"
			.day.day_2
				h4.day_title Вебинар №2: Обретение шаманской Силы
				ol.day_list
					li Как с помощью шаманских техник влиять на сознание людей
					li Как управлять погодой и другими событиями в своей жизни
					li Как обрести сверхспособности и получать ответы на любые вопросы
					li 
						span Практика: 
						| Шаманская медитация "Обретение внутреннего голоса"
			.day.day_3
				h4.day_title Вебинар №3: Целительство и долголетие в шаманизме
				ol.day_list
					li Приятная альтернатива алкоголю, табаку и другим зависимостям
					li Шаманские рецепты долгого здоровья и крепкого духа
					li Техники исцеления различных традиций шаманизма
					li 
						span Практика: 
						| Шаманская медитация “Поиск духа и причины болезни”
			.day.day_4
				h4.day_title Вебинар №4: Зов предков и сила Рода
				ol.day_list
					li Что такое родовые программы на бедность и невезение
					li Откуда беруться родовые проклятия и венец безбрачия
					li Как наладить контакт с предками и очистить свой Род
					li 
						span Практика: 
						| Погружение для встречи с представителем рода
		button.button.button_plan(data-toggle="modal" data-target="#myModal") Участвовать в интенсиве