#author
	width 100%
	background-color: rgb(147,159,196)
	background-image url(../img/about_bg.jpg)
	background-repeat no-repeat
	background-position: center right
	background-size: cover
	padding 5px 0 0
	.container
		position relative
#victor_about
	position: absolute
	left 0
	top 0
	width auto
	height 100%
	// float left
.about_container
	width 60%
	float: right
	padding-bottom: 50px
.general_title_author
	margin 65px 0 40px
.about_list
	list-style: none
	li
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
.about_bg
	margin 62px 0 33px
	font-family: 'AvenirNextCyrItalic', sans-serif
.author_cite
	font-family: 'AvenirNextCyrBold', sans-serif