#footer
	width 100%
	padding 30px 0
	text-align: center
	background-color: #122138
	p
		font-size: 14px;
		color: rgba(254, 254, 254, .6);
		line-height: 1.786;
		width 100%
		max-width 700px
		margin 0 auto
.modal-backdrop.in
	opacity .8
.modal-content
	background-color: #828282
	text-align: center
button.close
	position absolute
	width: 35px
	height 35px
	border-radius: 50px
	line-height: 30px
	text-align: center
	font-size: 24px
	font-family: "MyriadProLight", sans-serif
	color: #000
	background-color: #F0F0F0
	top 10px
	right 10px
	left auto
	z-index 99
	opacity 1
	transition: all .1s ease-in-out
	&:hover
		color: #F0F0F0
		background-color: #000
.politics_modal-content
	.modal-title
		font-size: 24px
		text-align: left 
		width 100%
		max-width 90%
		small
			display: block
	p
		font-size: 16px
		margin-bottom: 15px
		text-align: left
.modal_mail_section_title
	margin 10px auto 20px
	width 100%
	max-width 85%