#main
	width 100%
	padding 0 0 95px
	background-color: rgb(139,152,193)
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	.container
		position relative
		z-index: 9
#header
	padding 20px 0
	margin-bottom: 5px
	overflow hidden
#logo
	float left
	width 296px
	height auto
.contacts
	float right
.contact
	display: inline-block
	margin-left 15px
	padding-left: 35px
	background-repeat no-repeat
	background-position: left center
	line-height: 26px
	&:focus
		text-decoration: none
	&:hover
		text-decoration: underline
.contact_email
	margin-left: 0
	color #001381
	background-image url(../img/mail_img.png)
	padding-left: 39px
.contact_skype
	background-image url(../img/skype_img.png)
.contact_tel
	background-image url(../img/phone_img_white.png)
.contact_tel:last-of-type
	background-image url(../img/phone_img_blue.png)
	color #001381
#main_img
	position: absolute
	right -40px
	bottom - 180px
.right_col
	float: right
.main_title
	font-size: 30px;
	font-family: "AvenirNextCyrBold", sans-serif;
	line-height: 1.333;
	margin 10px 0 15px
.main_subtitle
	font-size: 18px;
	line-height: 1.556;
	margin-bottom: 25px
.a_n_d
	font-size: 18px;
	line-height: 1.556;
	margin-bottom: 10px
	span
		font-family: "AvenirNextCyrBold", sans-serif;
	&:last-child
		margin-bottom: 0
.main_subtitle_2
	margin 50px 0 30px
	font-size: 18px;
	line-height: 1.556;
	span
		font-size: "AvenirNextCyrBold", sans-serif;
.main_list
	li
		list-style none
		line-height: 1.556;
		margin-bottom: 10px
		span
			font-family: "AvenirNextCyrBold", sans-serif;
		&:last-child
			margin-bottom: 0
.main_subtitle_3
	margin 50px 0 35px
	font-size: 25px;
	font-family: "AvenirNextCyrBold", sans-serif;
	line-height: 1.12;
.button_main
	margin 0