@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.soc_buttons a .fa
		width 45px
		height 45px
		line-height 30px
		font-size: 24px
	.main_subtitle
	.a_n_d
	.main_subtitle_2
		font-size: 20px
	.for_list
		max-width 650px
	.button
		font-size: 22px
	#footer p
		max-width 100%
		font-size: 16px
@media screen and (max-width 1199px)
	#header
		padding 15px 0
		margin-bottom: 0
	#logo
		display block
		margin: 0 auto
		float: none
	.contacts
		text-align: center
		float: none
	.contact
		margin: 10px 5px 0
	.right_col
		float: none
	.video_wrapper_main
		max-width 560px
		margin 25px auto 0
	.main_title
	.main_subtitle
	.a_n_d
		text-align: center
	.main_subtitle_2
		margin 20px 0
	.main_subtitle_3
		margin 20px 0 30px
	#plan_img
		right -150px
	.days_container
		max-width 600px
	#victor_about
		left -60px
@media screen and (max-width 991px)
	#main
		padding: 0 0 40px
	#main_img
		right 30px
		width: 190px;
		bottom -85px
	#plan_img
		display: none !important
	.days_container
		margin 0 auto
	#victor_about
		position: static
		width 100%
		max-width 280px
		height auto
		margin-right: 10px
	.about_container
		width 55%
		padding-bottom: 0
	#for
	#plan
	#author
	#revs
		padding 40px 0
	.general_title_author
		margin 0 0 40px
	#footer
		padding 20px 0
@media screen and (max-width 767px)
	#main_img
		display: none
	.for_list li:last-child
		margin-bottom: 20px
	.button_for
		margin-top: 20px
	#victor_about
		float: none
		margin: 0 auto 20px
		display block !important
	.about_container
		width 100%
		float: none
	.about_list
		width 100%
		max-width 500px
		margin 0 auto
	.about_bg
		margin 30px 0
	#author
		background-position: left center
	.about_bg
		text-align: center
	.author_cite
		text-align: right
		display block
	#revs
	#for
		background-image: none
	.modal-dialog
		width 100%
		max-width 600px
		margin 10px auto
	.main_subtitle_2
	.main_subtitle_3
		text-align: center
	.button_main
		margin:  auto
	.main_list
		width 100%
		max-width 470px
		margin 0 auto
@media screen and (max-width 650px)
	.modal-dialog
		max-width 96%
@media screen and (max-width 485px)
	#logo
		width 160px
	.contact
		font-size: 14px
		line-height: 20px
		background-size: 20px
		padding-left: 25px
	#header
		margin-bottom: 5px
	.main_title
		font-size: 26px
		line-height: 1.4
	.remind_main_subtitle
		font-size: 20px
	.general_title
		font-size: 24px
	.day_title
		margin-bottom: 15px
	.day
		margin-bottom: 30px
	.revs_aftertitle
		font-size: 24px
		margin 10px 0
	#footer #conditions, #footer p
		font-size: 12px
@media screen and (max-width 380px)
	#header
		margin-bottom: 0
	.main_title
		font-size: 24px
		margin 0 0 10px
	#main
		padding-bottom: 30px
	#for
	#plan
	#author
	#revs
		padding 30px 0
	.general_title
		font-size: 22px
	.main_subtitle
		margin-bottom: 10px
	.video_wrapper_main
		margin-top: 15px
	.main_subtitle_2
		margin 15px 0
	.main_subtitle_3
		margin 15px 0 20px
		font-size: 23px
	.button_for
		margin-top: 10px
	.button_plan
		margin-top: 25px
	.about_bg
		margin 20px 0
	.video_wrapper_revs
		margin-bottom: 15px
	.revs_aftertitle
		font-size: 22px
		line-height: 1.3
	.modal_mail_section_title
		font-size: 24px
		margin 10px auto
	.modal_mail
		margin 10px auto
		height 45px
		line-height 45px
	.button_mail_modal
		height 45px
		line-height 45px
	.checking .check_label
		font-size: 14px