#revs
	width 100%
	padding 70px 0
	background-color: rgb(221,219,218)
	background-image url(../img/revs_bg.jpg)
	background-repeat no-repeat
	background-position: center bottom
	background-size: cover
.video_wrapper_revs
	margin-bottom: 25px
	max-width 560px
.revs_aftertitle
	font-size: 30px;
	font-family: "AvenirNextCyrBold",sans-serif;
	line-height: 1.333;
	text-align: center;
	margin 20px 0 45px