section#author
	.container
		h3.general_title.general_title_author О тренере - Виктор Толстиков
		img(data-src="../img/victor_about.png", alt="Виктор Толстиков").lazy#victor_about
		.about_container
			ul.about_list
				li Продюсер крупнейшего центра развития человека
				li НЛП тренер международного уровня
				li Практикующий нео-шаман (3 традиции шаманизма)
				li Потомственный колдун и маг ряда культов
				li Исследователь мест силы и паранормальных феноменов
				li Инструктор по славянской системе “Ведасонь”
				li Постоянный гость на ведущих российских телеканалах
			blockquote.about_bg "...Я очень устал наблюдать за тем, как всякие шарлатаны и "приГурки" ломают жизни людей, наживаясь на чужом горе и чрезмерном доверии. Я хочу положить этому конец!..."
			cite.author_cite Виктор Толстиков