footer#footer
	.container
		.soc_buttons
			h5 Хотите узнать больше? Вступайте в наши группы!
			a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
				i(class="fa fa-facebook" aria-hidden="true")
			a(href="http://vk.com/mv_ezoterika" target="_blank")
				i(class="fa fa-vk" aria-hidden="true")
			a(href="https://twitter.com/MastervisionEzo" target="_blank")
				i(class="fa fa-twitter" aria-hidden="true")
			a(href="https://www.instagram.com/mastervision1/" target="_blank")
				i(class="fa fa-instagram" aria-hidden="true")
			a(href="https://www.ok.ru/group/54472921710656" target="_blank")
				i(class="fa fa-odnoklassniki" aria-hidden="true")
			a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
				i(class="fa fa-youtube" aria-hidden="true")
			.clfix
		p ИП Грудин Андрей Аркадьевич, г. Москва, поселение Рязанковское, пос. Знамя Октября, мкр. Родники, д. 6, кв. 34, ИНН/КПП 772427896499, ОГРН/ОГРНИП 318774600310986
		a#conditions(href="http://mastervision.su/ofertaGrudin.docx") Условия возврата денежных средств
link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
.modal.fade(tabindex="-1" role="dialog")#modalPlan
	.modal-dialog(role="document")
		.modal-content.mail_modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h3.modal_title Практикум Основы Шаманизма
					ul.modal_list
						li МК №1. "Средний шаманский мир"
						li МК №2. "Глубокое очищение и защита"
						li МК №3. "Нижний шаманский мир"
						li МК №4. "Верхний шаманский мир"
						li МК №5. "Целительство в шаманизме"
						li МК №6. "Род и духи предков"
						li МК №7. "Шаманский инвентарь"
						li МК №8. "Обряды и ритуалы шаманизма"
.modal.fade(tabindex="-1" role="dialog")#modalMg
	.modal-dialog(role="document")
		.modal-content.mail_modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h3.modal_title Мастер группа
					ul.modal_list
						li Работа на местах силы
						li Приманки для духов
						li Источник жизненной силы
						li Встреча с "Высшим Я"
						li Путь к себе
						li Проводы неупокоенных душ
						li Куклы и прочее "ВУДУ"
.modal.fade(tabindex="-1" role="dialog")#modalPersonal
	.modal-dialog(role="document")
		.modal-content.mail_modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h3.modal_title Индивидуальный подход
					ul.modal_list
						li 3 индивидуальные skype консультации
						li Общение напрямую в skype
						li Индивидуальный разбор домашних заданий
						li Дополнительные техники и практики по запросу