section#for
	.container
		h3.general_title.general_title_for Этот онлайн практикум для Вас:
		.row
			.col-md-6.col-sm-6
				ul.for_list
					li
						span.for_list_title.for_list_title_red Теряете годы на поиски сакральных знаний
						| по улучшению материального благосостояния, но денег так и не прибавляется
					li
						span.for_list_title.for_list_title_red Обращаетесь к "целителям" и "экстрасенсам"
						| за исцелением, а здоровье только ухудшается
					li
						span.for_list_title.for_list_title_red Тратите кучу средств на семинары и курсы,
						| чтобы улучшить свою жизнь, но будто что-то всё время мешает Вашему счастью
					li
						span.for_list_title.for_list_title_red Ищите действенные магические приёмы
						| для того чтобы наладить личную жизнь, но по прежнему несчастны
					li
						span.for_list_title.for_list_title_red Ждёте встречи с мастером, 
						| который раскроет их способности и предназначение, но его так и нет
			.col-md-6.col-sm-6
				ul.for_list
					li
						span.for_list_title.for_list_title_green Хотите настоящую магическую силу
						| для исполнения любых своих, даже самых сокровенных желаний
					li
						span.for_list_title.for_list_title_green Желаете узнать, как с помощью знаний предков
						| исцелиться и стать стать целителем
					li
						span.for_list_title.for_list_title_green Мечтаете раскрыть сверх способности,
						| покровительство высших сил и получать ответы на свои вопросы
					li
						span.for_list_title.for_list_title_green Хотите освоить действенные практики,
						| чтобы очиститься от родовых программ на бедность и невезение
					li
						span.for_list_title.for_list_title_green Жаждите познакомиться с наставником,
						| который на собственном примере демонстрирует реальность того, чему учит
		a.button.button_for(href="#prices") Участвовать в практикуме