section#get
	.container
		h3.general_title.general_title_get Пройдя этот онлайн практикум Вы:
		ol.get_list
			li Научитесь путешествовать в шаманские миры
			li Избавитесь от проклятий и подселений
			li Освободите место для счастья и удачи в своей жизни
			li Обретете защиту и поддержку Рода и высших сил
			li Получите безграничный доступ к благам и знаниям