section#main
	.container
		include ../bonus/header
		p.pre Легендарный онлайн практикум от потомственного колдуна и практикующего нео шамана
		h1.main_title "Основы Шаманизма и Волхвования"
		h2.main_subtitle Хотите обрести знания и способности более чем 50 курсов и тренингов всего за 2 месяца?
			br
			| Тогда прикоснитесь к традиции, давшей начало всем учениям и религиям!
		p.a_n_d Старт курса: 
			span 1 апреля
		p.a_n_d Автора курса: 
			span Виктор Толстиков
		a.button.button_main(href="https://tolstikov.mastervision.su/shamanism/course/" target="_blank") Записаться