section#plan
	.container
		img(data-src="../img/plan_img.png", alt="Картинка")#plan_img.lazy
		h3.general_title.general_title_plan Программа шаманского практикума:
			small Состоит из 8-ми тематических мастер классов:
		.days_container
			.day.day_1
				h4.day_title МК №1. "Средний шаманский мир и работа с пространством"
				ul.day_list
					li Открытие священного пространства
					li Взаимодействие с духами места
					li Путешествия в средний шаманский мир
			.day.day_2
				h4.day_title МК №2. "Глубокое очищение и защита"
				ul.day_list
					li Техники глубокого очищения силами природы
					li Создание обережного шаманского щита
					li Строительство астрального “Убежища шамана”
			.day.day_3
				h4.day_title МК №3. "Нижний шаманский мир"
				ul.day_list
					li Путешествие в нижний шаманский мир
					li Поиск духа помощника (тотемного животного)
					li Знакомство с хранителем нижнего мира
			.day.day_4
				h4.day_title МК №4. "Верхний шаманский мир"
				ul.day_list
					li Путешествие в верхний шаманский мир
					li Знакомство с хранителем верхнего мира
					li Шаманское путешествие за ответами и информацией
			.day.day_5
				h4.day_title МК №5. "Целительство в шаманизме"
				ul.day_list
					li Шаманское путешествие для поиска духа болезни
					li Возвращение потерянной части души
					li Избавление от проклятий и злых духов
			.day.day_6
				h4.day_title МК №6. Очищение Рода и работа с духами предков 
				ul.day_list
					li Знакомство с хранителями Рода
					li Исцеление и гармонизация Рода
					li Обретение родовой силы и благославление духами предков
			.day.day_7
				h4.day_title МК №7. "Шаманский инвентарь"
				ul.day_list
					li Работа с кристаллами и камнями
					li Изготовление и оживление инструментов
					li Работа с шаманскими инструментами
			.day.day_8
				h4.day_title МК №8. Обряды и ритуалы шаманизма
				ul.day_list
					li Шаманский танец силы
					li Камлание и шаманский экстаз
					li Шаманское путешествие для другого человека