section#revs
	.container
		h3.general_title.general_title_revs Отзывы
		.row
			.col-md-4.col-sm-6
				.video_wrapper.video_wrapper_revs(data-youtube="WIQP7_xxVW0")
					img.lazy(data-src="../img/revs/video_1.jpg", alt="Видео-отзыв 1")
			.col-md-4.col-sm-6
				.video_wrapper.video_wrapper_revs(data-youtube="Gqfg63CiVvs")
					img.lazy(data-src="../img/revs/video_2.jpg", alt="Видео-отзыв 2")
			.col-md-4.col-sm-6
				.video_wrapper.video_wrapper_revs(data-youtube="HbNXQ32DUrk")
					img.lazy(data-src="../img/revs/video_3.jpg", alt="Видео-отзыв 3")
			.col-md-4.col-sm-6
				.video_wrapper.video_wrapper_revs(data-youtube="c2K-00Q_8P0")
					img.lazy(data-src="../img/revs/video_4.jpg", alt="Видео-отзыв 4")
			.col-md-4.col-sm-6
				.video_wrapper.video_wrapper_revs(data-youtube="3rDWv8c7Ulg")
					img.lazy(data-src="../img/revs/video_5.jpg", alt="Видео-отзыв 5")
			.col-md-4.col-sm-6
				.video_wrapper.video_wrapper_revs(data-youtube="LFXeJG-Dkp8")
					img.lazy(data-src="../img/revs/video_6.jpg", alt="Видео-отзыв 6")
		h4.revs_aftertitle Вы всё еще сомневаетесь? Отбросьте все сомнения - участие в интенсиве"Шаманизм - путь к первоистокам" абсолютно бесплатное!
		button.button.button_plan(href="#prices") Участвовать!